body {
    background-color:pink;
    
    
    
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}


form {
    width: 500px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 15px;
   flex: 1;
    
    
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

#button1 {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    margin-top: 5px;
}

#button3 {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    margin-top: 5px;
    
}

#button2 {
    float: left;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    margin-top: 5px;
}

#button4 {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    
    
}

button:hover{
    opacity: .7;
}
.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  #uitloggen {
      float: right;
  }

  #welkom {
      text-align: center;
      object-position: center;
      
  }


  .ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {text-decoration: underline;
} 
.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
	

